<div class="header">
  <div class="header__container">
    <div class="header__title">
      <span class="font-size-xxl font-bold uppercase">Frederic Ginioux</span>
      <div class="header__role">
        <span>-</span>
        <span class="font-size-l">Senior Frontend Engineer</span>
        <span>-</span>
      </div>
    </div>
    <div class="header__title inverted">
      <app-kaiser-logo></app-kaiser-logo>
    </div>
    <div class="header__informations">
      <div class="font-size-l">
        <span class="font-bold">Munich</span> 14.Sept <span class="font-bold">2020</span>
        <div>
          <span class="font-size-m font-bold uppercase">Personal Presentation</span>
        </div>
      </div>
    </div>
  </div>
</div>