<app-timeline>
  <app-timeline-step class="timeline-step__first">
    <app-header></app-header>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-left animate__animated">
    <app-timeline-date slot-date>1972</app-timeline-date>
    <app-timeline-content>
      <h2 class="uppercase">Family</h2>
      <div>
        <p class="font-size-xl font-light">
          I was born in France in Blois in Loir-et-Cher in the Loire Valley
          (located about 200km in the south of Paris) where there is of course a
          castle. Never married and no child.
        </p>
      </div>
      <div>
        <h4>Family members</h4>
        <app-list>
          <li class="font-size-regular">Alain Ginioux (father)</li>
          <li class="font-size-regular">Daisy Bigot (mother)</li>
          <li class="font-size-regular">Isabelle Ginioux (older sister)</li>
          <li class="font-size-regular">Cyril Ginioux (little brother)</li>
          <li class="font-size-s">4 nieces & nephews / no child</li>
        </app-list>
      </div>
      <div class="note font-size-s font-thin">
        My mother is borned in La Reunion Island in the Indian Ocean in the
        south of madagascar. My grand-mother was Creole and my grand-father
        European that it make me a 1/4 Creaole I guess :).
      </div>
    </app-timeline-content>
    <app-timeline-refs slot-refs [data]="refs['1']"></app-timeline-refs>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-right animate__animated">
    <app-timeline-date slot-date>1984</app-timeline-date>
    <app-timeline-content>
      <h2 class="uppercase">Studies</h2>
      <div>
        <p class="font-size-xl font-light">
          So I had several orientations: philosophy and science at university,
          physical education and then finally computer science.
        </p>
      </div>

      <div>
        <h4>Diplomas & Certificates</h4>
        <app-list>
          <li class="font-size-regular">Certificat in Computer Programing</li>
          <li class="font-size-regular">Certificate in web writing</li>
          <li class="font-size-regular">University degree in Philosophy</li>
          <li class="font-size-regular">
            State diploma in Physical Conditioning
          </li>
          <li class="font-size-s">
            But the most important things were not taught to me in school
          </li>
        </app-list>
      </div>
      <div class="note font-size-s font-thin">
        “We do not learn from experience... we learn from reflecting on
        experience.” <span class="font-bold">- John Dewey</span>
      </div>
    </app-timeline-content>
    <app-timeline-refs slot-refs [data]="refs['2']"></app-timeline-refs>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-left animate__animated">
    <app-timeline-date slot-date>1992</app-timeline-date>
    <app-timeline-content>
      <h2 class="uppercase">Sports</h2>
      <div>
        <p class="font-size-xl font-light">
          Sport has always been a big part of my life. Basket-ball for 12 years
          and even coached professionally, running and recently discovered
          physical conditioning (cardio / strength / stretch).
        </p>
      </div>
      <div>
        <h4>Currently practiced</h4>
        <app-list>
          <li class="font-size-regular">Physical conditioning</li>
          <li class="font-size-regular">Yoga/stretching</li>
          <li class="font-size-regular">Running</li>
          <li class="font-size-regular">Petanque</li>
          <li class="font-size-regular">Mini-Golf</li>
        </app-list>
      </div>
      <div>
        <h4>Already practiced</h4>
        <app-list>
          <li class="font-size-regular">Triathlon</li>
          <li class="font-size-regular">Judo</li>
          <li class="font-size-regular">Basket-ball</li>
          <li class="font-size-regular">Badminton</li>
          <li class="font-size-s">Soccer/Hockey/Climbing/etc.</li>
        </app-list>
      </div>
    </app-timeline-content>
    <app-timeline-refs slot-refs [data]="refs['3']"></app-timeline-refs>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-right animate__animated">
    <app-timeline-date slot-date>1998</app-timeline-date>
    <app-timeline-content>
      <h2 class="uppercase">Work experience</h2>
      <div>
        <p class="font-size-xl font-light">
          First with various jobs I finally sticked on computer programming.
          After a few years as a freelancer in France, I found my first job in
          as Frontend Developer in Montreal.
        </p>
      </div>
      <div>
        <h4>Various jobs</h4>
        <app-list>
          <li class="font-size-regular">Factory worker (several companies)</li>
          <li class="font-size-regular">Social worker</li>
          <li class="font-size-regular">Project manager/copywriter</li>
          <li class="font-size-regular">Coach/trainer (basket-ball)</li>
          <li class="font-size-regular">Web developer</li>
        </app-list>
      </div>
    </app-timeline-content>
    <app-timeline-refs slot-refs [data]="refs['4']"></app-timeline-refs>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-left animate__animated">
    <app-timeline-date slot-date>2007</app-timeline-date>
    <app-timeline-content>
      <h2 class="uppercase">Travels</h2>
      <div>
        <p class="font-size-xl font-light">
          A few destinations in Europe when i was young then in 2007 I move to
          Canada to work. I stayed there 13 years. With the experience my desire
          to travel became more present and I hope to be able to satisfy it one
          day.
        </p>
      </div>
      <div>
        <h4>To visit</h4>
        <app-list>
          <li class="font-size-regular">South Corea (Seoul)</li>
          <li class="font-size-regular">Japan (Sapporo Island)</li>
          <li class="font-size-regular">Sweden</li>
        </app-list>
      </div>
      <div>
        <h4>Already visited</h4>
        <app-list>
          <li class="font-size-regular">England (London)</li>
          <li class="font-size-regular">Portugal (Lisboa)</li>
          <li class="font-size-regular">Austria (Vienna)</li>
          <li class="font-size-regular">Canada (VC/Toronto/Montreal)</li>
          <li class="font-size-regular">USA (New York)</li>
          <li class="font-size-regular">France (St-Denis/Réunion)</li>
        </app-list>
      </div>
    </app-timeline-content>
    <app-timeline-refs slot-refs [data]="refs['5']"></app-timeline-refs>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-right animate__animated">
    <app-timeline-date slot-date>2013</app-timeline-date>
    <app-timeline-content>
      <h2 class="uppercase">Hobbies</h2>
      <div>
        <p class="font-size-xl font-light">
          I like a lot of things: cooking, movies and dancing have taken up a
          lot of my hobbies. I discovered swing dance in Montreal (one of the
          best places in the world for it). I try to practice as often as
          possible.
        </p>
      </div>
      <div>
        <h4>In my free time</h4>
        <app-list>
          <li class="font-size-regular">To cook/do pastry</li>
          <li class="font-size-regular">To watch movies</li>
          <li class="font-size-regular">To work out/do Yoga</li>
          <li class="font-size-regular">To listen music</li>
          <li class="font-size-regular">To dance as often as possible</li>
        </app-list>
      </div>
    </app-timeline-content>
    <app-timeline-refs slot-refs [data]="refs['6']"></app-timeline-refs>
  </app-timeline-step>

  <app-timeline-step class="timeline-step__align-left timeline-step__last">
    <app-timeline-date slot-date>2020</app-timeline-date>
    <app-timeline-content>
      <div class="timeline-step__content-final">
        <div class="font-light font-size-xl uppercase">
          Proud & Keen Member of
        </div>
        <app-kaiser-logo></app-kaiser-logo>
        <div class="font-light font-size-s">
          Since <span class="font-bold">1st.Sept</span> 2020
        </div>
        <div class="font-thin font-size-xs">Thank You All</div>
      </div>
    </app-timeline-content>
  </app-timeline-step>
</app-timeline>
