<div class="progress"></div> 
<div id="wrapper" [class.chronometer__started]="start" [class.chronometer__stopped]="stopped" [class.blink]="stopped">
  <div class="clock">
    <div class="digit dp100000 d6">
    <div class="particle top"></div>
    <div class="particle top right"></div>
    <div class="particle top left"></div>
    <div class="particle middle"></div>
    <div class="particle bottom right"></div>
    <div class="particle bottom left"></div>
    <div class="particle bottom"></div>
  </div>
  <div class="digit dp10000">
    <div class="particle top"></div>
    <div class="particle top right"></div>
    <div class="particle top left"></div>
    <div class="particle middle"></div>
    <div class="particle bottom right"></div>
    <div class="particle bottom left"></div>
    <div class="particle bottom"></div>
  </div>
  <div class="separator">
    <div class="dot top"></div>
    <div class="dot bottom"></div>
  </div>
  <div class="digit dp1000 d6">
    <div class="particle top"></div>
    <div class="particle top right"></div>
    <div class="particle top left"></div>
    <div class="particle middle"></div>
    <div class="particle bottom right"></div>
    <div class="particle bottom left"></div>
    <div class="particle bottom"></div>
  </div>
  <div class="digit dp100">
    <div class="particle top"></div>
    <div class="particle top right"></div>
    <div class="particle top left"></div>
    <div class="particle middle"></div>
    <div class="particle bottom right"></div>
    <div class="particle bottom left"></div>
    <div class="particle bottom"></div>
  </div>
  <div class="separator">
    <div class="dot top"></div>
    <div class="dot bottom"></div>
  </div>
  <div class="digit dp10">
    <div class="particle top"></div>
    <div class="particle top right"></div>
    <div class="particle top left"></div>
    <div class="particle middle"></div>
    <div class="particle bottom right"></div>
    <div class="particle bottom left"></div>
    <div class="particle bottom"></div>
  </div>
  <div class="digit dp1">
    <div class="particle top"></div>
    <div class="particle top right"></div>
    <div class="particle top left"></div>
    <div class="particle middle"></div>
    <div class="particle bottom right"></div>
    <div class="particle bottom left"></div>
    <div class="particle bottom"></div>
  </div>
  </div>
</div>